body {
    font-family: 'Arial', sans-serif;
    background-color: #E6F0F8; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}

#contenidor_principal {
    max-width: 800px;
    background-color: #FFFFFF; 
    padding: 20px;
}

#reproductor {
    margin-bottom: 20px;
    text-align: center;
}

#llista_musica {
    list-style-type: none;
    padding: 0;
}

#llista_musica li {
    padding: 10px;
    border: 1px solid #BECEDC; 
    margin-bottom: 5px;
    border-radius: 5px;
}

#llista_musica li:hover {
    background-color: #DAE3F3; 
}

input[type="file"], input[type="submit"], input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #BECEDC; 
    border-radius: 5px;
    background-color: #F2F7FB; 
}

.icono img {
    height: 30px;
}

#barra {
    display: flex;
    margin-top: 10px;
}

#buscador {
    flex-grow: 1;
    margin-right: 10px;
}

#logo {
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
}